{% extends 'layouts/viagem.html' %}

{% block title %}
<title>ACOMPANHAR VIAGEM - MAB</title>
{% endblock %}

{% block conteudo %}
<div id="acompanhar-vi">
  {% if viagem.aceitacao == 0 %}
  <div id="acompanhar-vi-status">
    <p class="text-center py-2">Aguardando aceitação...</p>
  </div>
  <div id="acompanhar-vi-cont" class="row justify-content mt-3">
    <h3 class="d-block col-12">VIAGEM</h3>
    <div class="d-inline-block col-6">
      <label class="container-fluid">Embarque:</label>
      <input class="container-fluid" value="{{viagem.embarque}}" disabled>
    </div>
    <div class="d-inline-block col-6">
      <label class="container-fluid">Desembarque:</label>
      <input class="container-fluid" value="{{viagem.desembarque}}" disabled>
    </div>
    <div class="d-inline-block col-6">
      <label class="container-fluid mt-4">Pagamento:</label>
      <input class="container-fluid" value="{% if pag.tipo == 'pix' %}PIX{% endif %}{% if pag.tipo == 'f' %}Físico{% endif %}" disabled>
    </div>
    <div class="d-inline-block col-6">
      <label class="container-fluid mt-4">Valor:</label>
      <input class="container-fluid" value="R$ {{pag.valor}}" disabled>
    </div>
    <div id="btns" class="d-grid d-md-block">
      <button onclick="showUpdateVi()">EDITAR</button>
      <button onclick="showCancelarVi()" id="cancelar-vi-btn">CANCELAR</button>
    </div>
  </div>
  {% endif %}
  {% if viagem.aceitacao == 1 %}
  <div id="acompanhar-vi-cont" class="row justify-content">
    <h3 class="d-block col-12">VIAGEM</h3>
    <div class="d-inline-block col-6">
      <label class="container-fluid">Desembarque:</label>
      <input class="container-fluid" value="{{viagem.desembarque}}" disabled>
    </div>
    <div class="d-inline-block col-6">
      <label class="container-fluid">Valor:</label>
      <input class="container-fluid" value="R$ {{pag.valor}}" disabled>
    </div>
    <div class="d-inline-block col-6">
      <label class="container-fluid mt-4">Motorista:</label>
      <input class="container-fluid" value="{{user_moto.nome}}" disabled>
    </div>
    <div class="d-inline-block col-6">
      <label class="container-fluid mt-4">Veículo:</label>
      <input class="container-fluid" value="{{ve.placa}} - {{ve.marca}} {{ve.modelo}} {{ve.preto}}" disabled>
    </div>
    <div id="btns" class="d-grid d-md-block">
      <button onclick="showCancelarVi()" id="cancelar-vi-btn" class="d-block mx-auto">CANCELAR</button>
    </div>
  </div>
  {% endif %}
  <form id="update-vi" method="post" class="mt-3" action="{{url_for('vi.update_vi')}}">
    <div class="row justify-content">
      <h3 class="d-block col-12">EDITAR VIAGEM</h3>
      <div class="d-inline-block col-6">
        <label class="container-fluid">Embarque:</label>
        <input class="container-fluid" name="embarque" value="{{viagem.embarque}}" placeholder="Digite o local de Embarque" required>
      </div>
      <div class="d-inline-block col-6">
        <label class="container-fluid">Desembarque:</label>
        <input class="container-fluid" name="desembarque" value="{{viagem.desembarque}}" placeholder="Digite o local de Desembarque" required>
      </div>
      <div class="d-block col-12">
        <label class="container-fluid mt-4">Pagamento:</label>
        <select class="container-fluid" name="tipo" required>
          {% if pag.tipo == "pix" %}
            <option value="{{pag.tipo}}">PIX</option>
            <option value="f">Físico</option>
          {% endif %}
          {% if pag.tipo == "f" %}
            <option value="{{pag.tipo}}">Físico</option>
            <option value="pix">PIX</option>
          {% endif %}
        </select><br>
      </div>
    </div>
    <div id="btns" class="d-grid d-md-block">
      <button type="submit">EDITAR</button>
      <button type="button" onclick="showUpdateViReverse()" id="cancelar-vi-btn">VOLTAR</button>
    </div>
  </form>
  
  <form id="cancelar-vi" method="post" action="{{url_for('vi.cancelar_vi')}}">
    <h3 class="d-block col-12">CANCELAR VIAGEM</h3>
    <div id="btns" class="d-grid d-md-block">
      <button type="submit">CANCELAR</button>
      <button type="button" onclick="showCancelarViReverse()" id="cancelar-vi-btn">VOLTAR</button>
    </div>
  </form>
</div>
{% endblock %}