{% extends 'layouts/moto/painel.html' %}

{% block title %}
<title>EDITAR VEÍCULO - MAB</title>
{% endblock %}

{% block conteudo %}
<div id="nav-painel" class="col-12 me-0 px-0">
  <div id="nav-painel-cont" class="mx-auto">
    <div id="topics" class="container-fluid px-0 mx-0">
      <div class="crud" id="moto">
        <form action="{{url_for('moto.update_ve')}}" method="post" class="mx-auto">
          <div class="d-block">
            <h1 id="page-title" class="text-center mt-5">VEÍCULO</h1>
          </div>
          <label class="container-fluid">Placa:</label>
          <input class="container-fluid" type="text" name="placa" placeholder="Digite a Placa do Veículo" required value="{{ve.placa}}"><br>
          <label class="container-fluid mt-4">Renavam:</label>
          <input class="container-fluid" type="number" name="renavam" placeholder="Digite o seu Renavam" value="{{ve.renavam}}" required><br>
          <label class="container-fluid mt-4">Marca:</label>
          <input class="container-fluid" type="text" name="marca" placeholder="Digite a marca do Veículo" value="{{ve.marca}}" required><br>
          <label class="container-fluid mt-4">Modelo:</label>
          <input class="container-fluid" type="text" name="modelo" placeholder="Digite o modelo do Veículo" value="{{ve.modelo}}" required><br>
          <label class="container-fluid mt-4">Ano:</label>
          <input class="container-fluid" type="number" name="ano" placeholder="Digite o ano do Veículo" value="{{ve.ano}}" required><br>
          <label class="container-fluid mt-4">Cor:</label>
          <input class="container-fluid" type="text" name="cor" placeholder="Digite a cor do Veículo" value="{{ve.cor}}" required><br>
          <div class="d-grid gap-2">
            <button type="submit" class="mt-5">
                ATUALIZAR
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}