{% extends 'layouts/moto/painel.html' %}

{% block title %}
<title>EDITAR CONTA - MAB</title>
{% endblock %}

{% block conteudo %}
<div id="nav-painel" class="col-12 me-0 px-0">
  <div id="nav-painel-cont" class="mx-auto">
    <div id="topics" class="container-fluid px-0 mx-0">
      <div class="crud" id="moto">
        <form action="{{url_for('moto.update')}}" method="post" class="mx-auto">
          <div class="d-block">
            <h1 id="page-title" class="text-center">EDITAR</h1>
          </div>
          <label class="container-fluid">Nome:</label>
          <input class="container-fluid" type="text" name="nome" placeholder="Digite o seu Nome" value="{{current_user.nome}}" required><br>
          <label class="container-fluid mt-4">E-mail:</label>
          <input class="container-fluid" type="email" name="email" placeholder="Digite o seu E-mail" value="{{current_user.email}}" required><br>
          <label class="container-fluid mt-4">Data de Nascimento:</label>
          <input class="container-fluid" type="date" name="data_nasc" value="{{current_user.data_nasc}}" placeholder="Digite a sua Data de Nascimento" required><br>
          <label class="container-fluid mt-4">Telefone:</label>
          <input class="container-fluid" type="number" name="tel" placeholder="Digite o seu Telefone" value="{{current_user.tel}}" required><br>
          <label class="container-fluid mt-4">CNH:</label>
          <input class="container-fluid" type="number" name="cnh" placeholder="Informe o código da sua CNH" value="{{moto.cnh}}" required><br>
          <div class="d-grid gap-2">
            <button type="submit" class="mt-5">
                ATUALIZAR
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}